:root {
    --thick-yellow : #FFE699; 
    --mild-yellow : #FFF9B6; 
    --thick-pink : #FF9292; 
    --mild-pink : #FFCCD2; 
    --black : #2C3639; 
    --mild-black : #3F4E4F; 
    --gray : #DCD7C9; 
}